$darkgreen: #44633F;
$green: #5CAB7D;
$desaturatedcyan: #689689;
$outerspace: #444554;
$dolphingrey: #7E8D85;
h1 {
  color: $darkgreen;
}

body {
  background: $green;
  padding-top:70px;
}

#jumbtron-color {
  background: $darkgreen;
  text-align: center;
}

div#search-bike-manufacturer, #search-bike-color, #search-bike-photo, #search-compare-cities {
  text-align: center;
  font-size: 18px;
}

.navbar {
  background: $dolphingrey;
  font-size: 18px;
}
a {
color: $outerspace;
}
// #showBikes {
//   text-emphasis-style: triangle;
// }

#bikeIcon {
  font-size: 100px
}

.blue {
  color: blue;
}

.white {
  color: white;
}

.silver {
  color: silver;
}

.red {
  color: red;
}

.green {
  color: $desaturatedcyan;
}

.container {
  div {
    h2 {
      color: $darkgreen;
    }
  }
}

div#search-bike-manufacturer {
  min-height: 100vh;
}

div#search-bike-color {
  min-height: 100vh;
}

div#search-bike-photo {
  min-height: 100vh;
}

div#search-compare-cities {
  min-height: 100vh;
}
