$darkgreen : #44633F;
$green : #5CAB7D;

h1 {
  color: $darkgreen;
}

body {
  background: $green;
}

#jumbtron-color {
  background: $darkgreen;
  text-align: center;
}

#showBikes {
  text-emphasis-style: triangle;
}
